
                <ul>

                {%- for action in record_actions %}

                    <li>
                        <a href="{{ "{{ path('admin_" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}">{{ action }}</a>
                    </li>

                {%- endfor %}

                </ul>
